/stamp-h2
/Makefile
/config.h
.deps
.libs
/client.o
/client
/server
/ripc_pingpong_server
/ripc_pingpong_client
/socket_pingpong_client
/socket_pingpong_server
/ripc_long_pingpong_server
/ripc_long_pingpong_client
